Repository lakeraai/canica: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:mypy, test:pytest, test:prettier, test:npm-run-build

.gitlab/ci/test.yml:

test:mypy:
  image: python:3.11
  stage: test
  before_script:
    - pip install poetry
    - scripts/try_n_times.sh 2 poetry install --with=dev
  script:
    # poetry installs packages into virtualenv that we can use with `poetry run`
    - poetry run mypy src/
  needs: []
  rules:
    - changes:
        - src/**/*

test:pytest:
  image: python:3.11
  stage: test
  script:
    - pip install poetry
    - scripts/try_n_times.sh 2 poetry install --with=dev
    - poetry run pytest
  needs: []
  rules:
    - changes:
      - src/**/*

test:precommit:
  image: python:3.11
  stage: test
  before_script:
    - pip install poetry
    - scripts/try_n_times.sh 2 poetry install --with=dev
  script:
    # poetry installs packages into virtualenv that we can use with `poetry run`
    - poetry run pre-commit install --hook-type pre-commit
    - SKIP=prettier poetry run pre-commit run --hook-stage commit --all-files
    - SKIP=npm-run-build poetry run pre-commit run --hook-stage push --all-files
  needs: []

test:prettier:
  image: node:16
  stage: test
  script:
    - npm install
    - npm run prettier:check
  needs: []
  rules:
    - changes:
      - js/**/*
  
test:npm-run-build:
# build runs typecheck internally
  image: node:16
  stage: test
  script:
    - npm install
    - npm run build
  needs: []
  rules:
    - changes:
      - js/**/*

Delete ColorLegend.tsx
  js/ColorLegend.tsx
Due: test:prettier, test:npm-run-build

push tmp data
  data/tmp_data.json
Due: none

Remove poetry
  .gitlab/ci/test.yml
  .pre-commit-config.yaml
  config.toml
  poetry.lock
  pyproject.toml
  scripts/check_poetry_lock.py
  src/canica/static/widget.css
  src/canica/static/widget.js
Due: test:mypy, test:pytest

Update TSNE constructor to use randomSeed
  .gitlab/ci/test.yml
  .pre-commit-config.yaml
  js/tsne.ts
  package-lock.json
  package.json
  pyproject.toml
  scripts/create_if_not_exists.py
  src/canica/py.typed
  src/canica/static/widget.css
  src/canica/static/widget.js
  src/canica/widget.py
  tests/test_widget_data.py
Due: test:mypy, test:pytest, test:prettier, test:npm-run-build

Add circle highlight around focused point
  js/ProjectedPoints.tsx
  pyproject.toml
Due: test:prettier, test:npm-run-build

Some last touches before open-sourcing
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/static/replot.gif
  pyproject.toml
Due: none

change default behaviour of build hooks
  .gitlab/ci/test.yml
  pyproject.toml
Due: none

update numpy and pandas dependency requirements
  pyproject.toml
Due: none

Add legend
  js/BottomPanel.tsx
  js/Legend.tsx
  js/WidgetTools.tsx
  js/colors.ts
  js/widget.tsx
Due: test:prettier, test:npm-run-build

Refactor color mapping so that the var -> color assignment is the same all the time
  js/Legend.tsx
  js/WidgetTools.tsx
  js/colors.ts
  js/data.ts
Due: test:prettier, test:npm-run-build
